- extends "zinnia/base.html"

- load i18n zinnia
- load staticfiles
- load bootstrap3
- load bootstrap_pagination


- block content
  .panel.panel-neabi
    .panel-heading
      .acervo
        Serie
        %button{'class':'btn btn-orange pull-right btn-sm', 'type':'button', :value => 'Voltar', :onClick =>'history.go(-1)', :aria-label => "Left Align"}
          %span.glyphicon.glyphicon-chevron-left{:aria-hidden =>"true"}
          Voltar
    .panel-body
      %blockquote.box-fundo.detail
        %h2
          = serie
        %p
          = serie.descricao|safe
      .panel.panel-neabi
        .panel-heading.neabi-heading
          .acervo
            Documentos
        .panel-body
          .left-inner-addon
            %i.glyphicon.glyphicon-search
            %input.search.form-control#search_documento{ :type => "text", :placeholder => "Pesquisar Documentos...", :oninput => "search_documento();" }
          .list
            - for documento in documento_list
              %blockquote.box-fundo.detail
                %h2
                  = documento.titulo
                  - if documento.arquivo
                      %a{'class':'btn btn-orange pull-right', href: "{% if not documento.serie.fundo.projeto %} {% url 'documento-detail2' documento.serie.fundo.slug documento.serie.slug documento.slug %} {% else %} {% url 'documento-detail' documento.serie.fundo.projeto.slug documento.serie.fundo.slug documento.serie.slug documento.slug %} {% endif %}", :role => "button"}
                        Acessar Documento
                %dl.dl-horizontal
                  %dt Código de Referencia:
                  %dd
                    = documento.codigo_referencia
                  %dt Data do Documento:
                  %dd
                    = documento.data
                  %dt Ámbito e Conteúdo:
                  %dd
                    = documento.ambito_conteudo|safe|truncatewords:"20"
                  %dt Notas Gerais:
                  %dd
                    = documento.nota_gerais|safe|truncatewords:"20"
            -empty
              %blockquote.box-fundo.detail
                %p A serie ainda não possui documentos.

            - if is_paginated
              .text-center
                - bootstrap_paginate page_obj range=5

    :javascript
      function search_documento(){
        var termo = $("#search_documento").val();

        $.ajax({
          url: '{% url "search_documento" serie.slug %}',
          type: 'GET',
          data: {
            'termo': termo,
          },
          success: function (data) {
            $('.list').html(data);
          }
        });
      };