- extends "zinnia/base.html"

- load i18n zinnia
- load staticfiles
- load bootstrap3
- block content
  - for documento in documento_list
    %blockquote.box-fundo
      %h2
        = documento.titulo
        %button{'class':'btn btn-orange', 'type':'button','data-toggle':'collapse', 'data-target':'#{{documento.numero_id}}', 'aria-expanded':'false', 'aria-controls':'{{documento.numero_id}}'}
          Mais detalhes
        %a{'class':'btn btn-orange', href: "{{ documento.arquivo.arquivo.url}}"}
          Acessar arquivo
      %div.collapse{'id':'{{documento.numero_id}}'}
        %div.well
          %table.table.table-hover
            %tr
              %th Código de Referência:
              %td
                = documento.codigo_referencia
            %tr
              %th Notas de Conservação:
              %td
                = documento.nota_conservacao
            %tr
              %th Data do Documento:
              %td
                = documento.data
            %tr
              %th Dimensão de Suporte:
              %td
                = documento.dimensao_suporte
            %tr
              %th Nível de Descrição:
              %td
                = documento.nivel_descricao
            %tr
              %th Nome(s) do(s) Autor(es):
              %td
                = documento.autor
            %tr
              %th Ámbito e Conteúdo:
              %td
                = documento.ambito_conteudo
            %tr
              %th Condição de Acesso:
              %td
                = documento.condicao_acesso
            %tr
              %th Notas Gerais:
              %td
                = documento.nota_gerais




  -empty
    %p Não possui documentos para esta série.